.experience {
    position: absolute;
    ul {
        list-style: none;

        li {
            padding: 7px 0;
            display: block;
            font-size: 15px;
            line-height: 16px;
            color: white;
            text-decoration: underline;

            &:hover {
                transform: scale(2);
                display: block;
                cursor: pointer;
            }

        }
    }
}

.exp-container {
    width: 55%;
    height: 100%;
    top: 0;
    margin-left: 0;
    position: absolute;
    right: 5px;
    overflow: hidden;
}

.exp-load {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: yellow;
    font-weight: 400;
    position: relative;
    margin: 30%;
}